@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Objetivo</h1>
        <p class="lead">Aplicar las técnicas y tecnologías de MVC, Acceso a datos y gestión de estados para la solución de necesidades en sistemas.</p>
    </section> 
</main>